<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Spotter</title>
  <link rel="stylesheet" href="static/styles.css">
</head>
<body>
  <h1>TESTING!!!!</h1>
  <div id="container"></div>
  <canvas class="background"></canvas> <!-- Add canvas element -->
  <div class="grey_square"></div> <!-- Add overlay element -->
  <div class="black_square"></div> <!-- Add overlay element -->
  <div class="See_beyond h2">See Beyond <br> the Graph</div> <!-- Add title element -->
  <div class="The_Spotter"><span class="bolded">The Spotter</span></div> <!-- Add subtitle element -->
  <div class="text"><p>Find anomalies in amazon review graphs</p><p>in less clicks and less time than what you</p> expected.</div>
  <a href="about_us/about_us.html" class="about_us-link">About Us</a>
  <a href="index.html" class="home-link"><u>Home</u></a>
  <script src="static/node_modules/particlesjs/dist/particles.min.js"></script> <!-- Include particles.js -->
  <script src="static/script.js"></script>
</body>
</html>
