body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #333;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidebar .title {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
}

.sidebar .text {
  color: #ccc;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #ccc;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #fff;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #fff;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  padding: 10px 15px;
  border: none;
  transition: 0.3s;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

.graph-container {
  position: absolute;
  top: 15%;
  left: 5%;
  right: 5%;
  bottom: 1%;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 2;
  display: none; /* Initially hidden */
}

.close-graph {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f44336;
  color: #fff;
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  z-index: 5;
  transition: 0.3s;
}

.close-graph:hover {
  background-color: #f00;
}

.homebtn {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #0c0c0c; /* Primary blue color */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  z-index: 4;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  font-size: 16px; /* Slightly larger font size */
}

.homebtn:hover {
  background-color: #000000; /* Darker blue on hover */
  transform: translateY(-2px); /* Slight lift effect on hover */
}

